*.class
*.log

# sbt specific
.cache
.cache-main
.cache-tests
.history
.lib/
dist/*
target/
#/lib_managed/jars/ #allow all managed libraries. because there is no reason to exclude them without Maven.
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
